<div class="container center_div">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group input-group-lg">
      <%= f.text_field :name, autofocus: true, placeholder: 'Usename', class: 'form-control' %>
    </div>

    <div class="input-group input-group-lg">
      <%= f.number_field :number, placeholder: 'Telephone number', class: 'form-control' %>
    </div>

    <div class="input-group input-group-lg">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
    </div>

    <div class="input-group input-group-lg">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm password', class: 'form-control' %>
    </div>

    <div>
      <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>

</div>