<header>
  <h1 style=""><%= @name %></h1><br />
</header>

<article>
<% @messages.each do |m| %>
    <label style="<%= name_position(m.user.name) %>"><%= m.user.name %></label>
    <%= media_tag m,  size: '225x225', style: 'position: center;' %>
    <br />

<% end %>
</article>

<footer class="bs-docs-masthead">
  <%= render partial: 'form', message: @message %>
</footer>
